<launch>
	
	<node name="local_costmap" pkg="costmap_2d" type="costmap_2d_node" >
	  <rosparam file="$(find navigation_stage)/move_base_config/costmap_common_params.yaml" command="load" ns="local_costmap"/>
          <rosparam file="$(find navigation_stage)/move_base_config/local_costmap_params.yaml" command="load"/>
        </node>

        <node name="global_costmap" pkg="costmap_2d" type="costmap_2d_node" >
	  <rosparam file="$(find navigation_stage)/move_base_config/costmap_common_params.yaml" command="load" ns="global_costmap"/>
          <rosparam file="$(find navigation_stage)/move_base_config/global_costmap_params.yaml" command="load"/>
        </node>
</launch>
